<p>task-list works!</p>

<table class="table-auto">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Create By</th>
        <th>Create Date</th>
        <th>Status</th>
        <th></th>
        <td></td>
    </thead>

    <tbody>
        <tr *ngFor="let task of task_list">
            <td> {{task.id}}  </td>
            <td> {{task.name}} </td>
            <td> {{task.create_by}} </td>
            <td> {{task.create_date}} </td>
            <td> {{task.status}}</td>
            <td> 
                <button class="bg-cyan-500 rounded-full" (click)="deleteTask(task)">
                    Delete
                </button>
            </td>
            <td>
                <button [routerLink]="['/task', task.id, 'edit']">
                    Edit
                </button>
            </td>
        </tr>

        <tr>
            <button [routerLink]="['/task/0/edit']">
                Add
            </button>
        </tr>
    </tbody>
</table>  
