<div class="group">
    <div class="mt-2 pl-2 h-14 absolute left-px">
        <button class="p-1 hover:bg-slate-300 rounded-md">
            <div class=" group-hover:fill-currentColor">
                <svg viewBox="0 0 20 20" fill="currentColor" width="20" height="20" aria-hidden="true"
                    class="icon_4b23d45e02 noFocusStyle_cff5f5a050" data-testid="icon">
                    <path
                        d="M6 10.5C6 11.3284 5.32843 12 4.5 12 3.67157 12 3 11.3284 3 10.5 3 9.67157 3.67157 9 4.5 9 5.32843 9 6 9.67157 6 10.5zM11.8333 10.5C11.8333 11.3284 11.1618 12 10.3333 12 9.50492 12 8.83334 11.3284 8.83334 10.5 8.83334 9.67157 9.50492 9 10.3333 9 11.1618 9 11.8333 9.67157 11.8333 10.5zM17.6667 10.5C17.6667 11.3284 16.9951 12 16.1667 12 15.3383 12 14.6667 11.3284 14.6667 10.5 14.6667 9.67157 15.3383 9 16.1667 9 16.9951 9 17.6667 9.67157 17.6667 10.5z"
                        fill="white" class="group-hover:fill-black"></path>
                </svg>
            </div>
        </button>
    </div>
    <div>
        <div class="flex flex-col p-1 ml-1 pb-0">
            <div class="flex flex-col border-solid py-1">
                <div class="flex items-center group">
                    <button (click)="changetocollapse()">
                        <svg class="ml-2 mr-1" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                            <path class="fill-blue-500"
                                d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" />
                        </svg>
                    </button>
                    <span class="py-1 ml-2 text-xl text-blue-500 font-medium">
                        This Month
                    </span>
                    <span class="ml-5 text-gray-500 hidden group-hover:block">{{task_list_service.task_list.length}}
                        Tasks</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="flex flex-col p-1 py-0">
        <div
            class="flex flex-col border-solid py-0 border-l-blue-500 border-gray-200 border-t-2 border-l-8 rounded-tl-md">
            <div class="flex items-center">
                <div class="p-2 border-r-2 border-solid border-gray-200">
                    <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" class="border-gray-200">
                </div>
                <div class="w-1/3 flex justify-center p-2 border-r-2 border-solid border-gray-200">
                    <span>
                        Task
                    </span>
                </div>
                <div class="w-40 flex justify-center p-2 border-r-2 border-solid border-gray-200">
                    <span>
                        Person
                    </span>
                </div>
                <div class="w-40 flex justify-center p-2 border-r-2 border-solid border-gray-200">
                    <span>
                        Status
                    </span>
                </div>
                <div class="relative w-40 flex justify-center p-2 border-r-2 border-solid border-gray-200">
                    <span>
                        Date
                    </span>

                </div>
            </div>
        </div>
    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let task of task_list_service.task_list" cdkDrag class="hover:bg-slate-100 group">
            <!-- Delete button -->
            <div class="pl-2 h-8 absolute left-px flex items-end">
                <button class="p-1 hover:bg-slate-300 rounded-md" (click)="task_list_service.deleteTask(task)">
                    <div class=" group-hover:fill-currentColor">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 448 512">
                            <path fill="white" class="group-hover:fill-black"
                                d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z" />
                        </svg>
                    </div>
                </button>
            </div>
            <div class="flex flex-col p-1 py-0">
                <div class="flex flex-col border-solid border-l-blue-500 border-gray-200 border-t-2 border-l-8">
                    <div class="flex items-center">
                        <!-- Checkbox column -->
                        <div class="p-2 border-r-2 border-solid border-gray-200">
                            <input type="checkbox" [(ngModel)]="task.selected" (change)="checkIfAllSelected();"
                                class="border-gray-200">
                        </div>
                        <!-- Name column -->
                        <div class="w-1/3 justify-between flex pl-4 pt-1 border-r-2 border-solid border-gray-200 group">
                            <div (click)="edit_task_service.editCell(task)"
                                (keyup.enter)="edit_task_service.saveCell(task)" class="mt-1">
                                <span class="flex">
                                    <ng-container *ngIf="edit_task_service.edit_task_id === task.id; else displayCell">
                                        <input
                                            class="w-full py-0 placeholder:text-sm px-0 border-y-white border-x-white group-hover:border-gray-300 rounded-md"
                                            type="text" [(ngModel)]="task.name">
                                    </ng-container>
                                    <ng-template #displayCell>{{ task.name }}</ng-template>
                                </span>
                            </div>
                            <button (click)="isDrawerOpen=true" (click)="tempTaskName=task.name" class="flex items-center border border-gray-300 p-1 mb-1 mr-2 rounded">
                                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M344 0H488c13.3 0 24 10.7 24 24V168c0 9.7-5.8 18.5-14.8 22.2s-19.3 1.7-26.2-5.2l-39-39-87 87c-9.4 9.4-24.6 9.4-33.9 0l-32-32c-9.4-9.4-9.4-24.6 0-33.9l87-87L327 41c-6.9-6.9-8.9-17.2-5.2-26.2S334.3 0 344 0zM168 512H24c-13.3 0-24-10.7-24-24V344c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2l39 39 87-87c9.4-9.4 24.6-9.4 33.9 0l32 32c9.4 9.4 9.4 24.6 0 33.9l-87 87 39 39c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8z" />
                                </svg>
                                <span>
                                    Open
                                </span>
                            </button>
                        </div>
                        <!-- Person column -->
                        <app-task-drawer [name]="tempTaskName" [isOpen]="isDrawerOpen" (closed)="isDrawerOpen = false"></app-task-drawer>
                        <button (click)="editPerson(task)"
                            class="relative text-black w-40 flex justify-center p-2 border-r-2 border-solid border-gray-200">
                            <ng-container *ngIf="personid == task.id;">
                                <div class="absolute top-10 z-10 h-fit p-4 rounded-md shadow-2xl bg-white">
                                    <button *ngFor="let p of personlist" (click)="editPersonSuccess(p, task)"
                                        class="flex justify-center border items-center w-full py-1 px-3 rounded-md mb-1 text-black">
                                        {{p}}
                                    </button>
                                    <div (click)="clickInputAddPerson(task)">
                                        <input type="text" [(ngModel)]="person" (keyup.enter)="addPerson()"
                                            placeholder="Add Person" class="rounded border-gray-300">
                                    </div>
                                </div>
                            </ng-container>
                            {{task.create_by}}
                        </button>
                        <!-- Status column -->
                        <button (click)="editColor(task)"
                            class="relative text-white w-40 flex justify-center p-2 border-r-2 border-solid border-gray-200 {{task.status}}">
                            <ng-container *ngIf="taskid == task.id;">
                                <div class="absolute top-10 z-10 h-fit p-4 rounded-md shadow-2xl bg-white">
                                    <button *ngFor="let c of colorlist" (click)="editColorSuccess(c, task)"
                                        class="flex justify-center items-center w-full {{c}} py-1 px-2 rounded-md mb-1 text-white">
                                        {{Status.get(c)}}
                                    </button>
                                </div>
                            </ng-container>
                            {{ Status.get(task.status) }}
                        </button>
                        <div class="w-40 flex justify-center p-1 border-r-2 border-solid border-gray-200">
                            <input type="date" id="{{task.id}}date"
                                class="p-0.5 pl-4 border-none border-inherit group-hover:bg-slate-100 hover:border-solid hover:border-gray-300"
                                value="{{task.create_date}}" (change)="setdate(task)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group">
        <div class="pl-2 h-14 absolute left-px">
            <button class="p-1 hover:bg-slate-300 rounded-md">
                <div class=" group-hover:fill-currentColor">
                    <svg viewBox="0 0 20 20" fill="currentColor" width="20" height="20" aria-hidden="true"
                        class="icon_4b23d45e02 noFocusStyle_cff5f5a050" data-testid="icon">
                        <path
                            d="M6 10.5C6 11.3284 5.32843 12 4.5 12 3.67157 12 3 11.3284 3 10.5 3 9.67157 3.67157 9 4.5 9 5.32843 9 6 9.67157 6 10.5zM11.8333 10.5C11.8333 11.3284 11.1618 12 10.3333 12 9.50492 12 8.83334 11.3284 8.83334 10.5 8.83334 9.67157 9.50492 9 10.3333 9 11.1618 9 11.8333 9.67157 11.8333 10.5zM17.6667 10.5C17.6667 11.3284 16.9951 12 16.1667 12 15.3383 12 14.6667 11.3284 14.6667 10.5 14.6667 9.67157 15.3383 9 16.1667 9 16.9951 9 17.6667 9.67157 17.6667 10.5z"
                            fill="white" class="group-hover:fill-black"></path>
                    </svg>
                </div>
            </button>
        </div>
        <div class="flex flex-col p-1 py-0">
            <div
                class="flex flex-col border-solid border-l-blue-200 group-hover:border-l-blue-500 border-gray-200 border-y-2 border-l-8 rounded-bl-md">
                <div class="flex items-center">
                    <div class="p-2 border-r-2 border-solid border-gray-200">
                        <input type="checkbox" class="border-gray-200" disabled>
                    </div>

                    <div class="w-1/3 flex px-2 py-1">
                        <div class="w-full">
                            <form [formGroup]="add_task_service.task_form">
                                <input
                                    class="w-full py-0 placeholder:text-sm pl-5 border-y-white border-x-white group-hover:border-gray-300 rounded-md"
                                    (keyup.enter)="add_task_service.saveTask()" type="text" formControlName="name"
                                    placeholder="+ Add Task">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




