<div class="pl-10 pt-4 relative" style= "height:450px; white-space: nowrap; overflow-y: scroll;">
    <!-- <div *ngIf="collapse; else elseexpand">
        <app-collapsegroup [(collapsec)]="collapse"></app-collapsegroup>
    </div>
     
    <ng-template #elseexpand>
        <app-expandgroup [(collapsee)]="collapse"></app-expandgroup>
    </ng-template> -->

    <div *ngFor="let group_task of group_task_list_service.group_task_list">
        <div *ngIf="collapse; else elseexpand">
            <app-collapsegroup [group_task]="group_task" [(collapsec)]="collapse"></app-collapsegroup>
        </div>
        <br><br>
        <ng-template #elseexpand>
            <app-expandgroup [group_task]="group_task" [(collapsee)]="collapse"></app-expandgroup>
        </ng-template>

    </div>

    <!-- <app-task-list></app-task-list> -->
</div>

