<div class="pl-10 pt-4 relative" style= "height:500px; white-space: nowrap; overflow-y: scroll;">

    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let group_task of group_task_list_service.group_task_list" cdkDrag class="mb-3">
            <div *ngIf="collapse.includes(group_task.id); else elsecollap">
                <app-expandgroup (openDrawer)="receiveInfo($event)" (openDrawer)="receiveInfo($event)" [group_task]="group_task" [(collapsee)]="collapse"></app-expandgroup>
            </div>
            
            <ng-template #elsecollap>
                <app-collapsegroup [group_task]="group_task" [(collapsec)]="collapse"></app-collapsegroup>
            </ng-template>
        </div>
    </div>

    <button class="mt-3">
        <div class="flex items-center p-2 border-2 border-gray-300 hover:bg-slate-300 rounded">
            <svg viewBox="0 0 20 20" fill="currentColor" width="20" height="20" aria-hidden="true"
                class="icon_4b23d45e02 leftIcon_0e9d75fef6 noFocusStyle_cff5f5a050" data-testid="icon">
                <path
                    d="M10.75 3C10.75 2.58579 10.4142 2.25 10 2.25C9.58579 2.25 9.25 2.58579 9.25 3V9.25H3C2.58579 9.25 2.25 9.58579 2.25 10C2.25 10.4142 2.58579 10.75 3 10.75H9.25V17C9.25 17.4142 9.58579 17.75 10 17.75C10.4142 17.75 10.75 17.4142 10.75 17V10.75H17C17.4142 10.75 17.75 10.4142 17.75 10C17.75 9.58579 17.4142 9.25 17 9.25H10.75V3Z"
                    fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
            <span class="ml-2">Add new group</span>
        </div>
    </button>

    <!-- <app-task-list></app-task-list> -->
</div>
<app-task-drawer [name]="tempTaskName" [person]="tempPerson" [isOpen]="isDrawerOpen" (closed)="isDrawerOpen = false"></app-task-drawer>

