<div class="drawer-container bg-blue-300 h-full rounded border-l-1 border-gray-200 z-10" [style.right.px]="isOpen ? 0 : -800">
    <button class="close rounded-full bg-white mt-2 ml-2 py-2 px-3 text-xl text-center font-semibold" (click)="closeDrawer()">x</button>
    <div class="header">
      <span class="text-2xl font-bold p-1">Nội dung task {{name}}</span>
    </div>
    <div class="body bg-white mt-2 pt-2 pl-2">
      <p>
        Bạn đang xem chi tiết của: {{name}}
      </p>
    </div>
  </div>