<div class="flex flex-col w-full bg-indigo-50 h-screen sticky top-0">
  <app-header class="sticky top-0 bg-indigo-50"></app-header>
  <mat-sidenav-container class="example-container h-screen">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="w-72 bg-white sticky top-0">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="h-full w-full flex">
        <div class="bg-white rounded-r-lg mr-3">
          <button mat-button (click)="sidenav.toggle()" class="hover:bg-slate-300 bg-slate-300" 
                  style="min-width: 32px; min-height: 42px; border-radius: 0%; border-top-right-radius: 0.5rem; border-bottom-left-radius: 0.5rem;">
            <span *ngIf="opened; else close">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 320 512">
                <path
                  d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
              </svg>
            </span>
            <ng-template #close>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 320 512">
                <path
                  d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" />
              </svg>
            </ng-template>
          </button>
        </div>
        <div class="w-full bg-white h-full rounded-l-lg">
          <app-boardinfo></app-boardinfo>
          <app-boardcontent></app-boardcontent>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>