
<div>

    <div>
        <form (ngSubmit)="saveTask()" [formGroup]="task_form">
            <div>
                <label>ID</label>
                <input type="text" formControlName="id">
            </div>
            <div>
                <label>Name</label>
                <input type="text" formControlName="name">
            </div>

            <div>
                <label>User create</label>
                <input type="text" formControlName="create_by">
            </div>

            <div>
                <label>Date create</label>
                <input type="text" formControlName="create_date">
            </div>

            <button type="submit">Save</button>
        </form>
    </div>

    <div> {{mess}} </div>

</div>

